body{
    background-image: url("https://pbs.twimg.com/media/E8M_HelVkAQTwAN?format=jpg&name=large");
    height:400px;
}
.Front{
    text-align: center;
    color:#fff;
}
h1{
    font-size: 84px;
}
h2{
    font-size: 56px;
}
a{
    color: azure;
}
